secrets.conf

*.class
*.jar
*.war
*.ear
hs_err_pid*
target/
lib_managed/
src_managed/
project/boot/
.history
.cache

.idea
*.iws
/out/
.idea_modules/
*.log
.lib/
dist/*
project/plugins/project/
.scala_dependencies
.worksheet
